/* On screens that are 1920px or less, set the background color to blue */
/*FOR PERSONAL COMPUTERS*/
/*----------------------*/
@media screen and (max-width: 1920px) {
    #FirstView{
        position: relative;
        height: 100%;
        top: 0%;
        width: 100%;
        left: 0%;
        background-color:white;
        color: black;
    }
    
    #Headerback {
        width: 90%;
        
        background-color: fff;
        position: relative;
        left: 5%;
    }
    #header {
        color: #b9af1d;
        position: relative;
        text-align: center;
        font-size: 5em;
        font-family: "Righteous", sans-serif;
    }
    #LoadingContainer{
        background-color: transparent;
        position: relative;
        left: 35%;
        top: 5%;
        width: 30%;
        height: 30%;
    }
    #NotFoundText {
        background-color: green;
        position: relative;
        left: 35%;
        top: 15%;
        width: 30%;
        height: 17%;
    }
    #Disclaimer {
        position: relative;
        height: 80%;
        top: 0%;
        width: 100%;
        left: 0%;
        background-color: #292929;
        color: black;
    }
    #SocialMedia {
        position: relative;
        height: 20%;
        top: 0%;
        width: 100%;
        left: 0%;
        background-color: #a5a5a5;
        color: black;
    }
    #LoadingCircleContainer{
        width: 80px;
        height: 80px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
    }
    #LoadingCircle{
        background-color: transparent;
        height: 50px;
        width: 50px;
        position: relative;
        top: 0%;
        left: 0%;
        border-radius: 65px;
        border-top: 15px solid red;
        border-left: 15px solid green;
        border-bottom: 15px solid blue;
        border-right: 15px solid yellow;
        animation-name: Loader;
        animation-duration: 2s;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes Loader{
    0%{
        border-top: 15px solid red;
        border-bottom: 15px solid green;
        border-left: 15px solid blue;
        border-right: 15px solid yellow;
    }
    25%{
        transform: rotate(90deg);
        border-top: 15px solid blue;
        border-bottom: 15px solid yellow;
        border-left: 15px solid green;
        border-right: 15px solid red;
        }
    50%{
        transform: rotate(180deg);
        border-top: 15px solid green;
        border-bottom: 15px solid red;
        border-left: 15px solid yellow;
        border-right: 15px solid blue;
        }
    75%{
        transform: rotate(270deg);
        border-top: 15px solid yellow;
        border-bottom: 15px solid blue;
        border-left: 15px solid red;
        border-right: 15px solid green;
        }
    100%{
        transform: rotate(360deg);
        border-top: 15px solid red;
        border-bottom: 15px solid green;
        border-left: 15px solid blue;
        border-right: 15px solid yellow;
        }
    }
    #dot1{
        animation-name: dotanim;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-direction: normal;
        color:black;
    }
    @keyframes dotanim{
    0%{
        color: transparent;
    }
    33%{
        color: black;
    }
    66%{
        color: black;
    }
    100%{
        color: black;
    }
    }
    #dot2{
    animation-name: dotanim2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    color:black;
    }
    @keyframes dotanim2{
    0%{
        color: transparent;
    }
    33%{
        color: transparent;
    }
    66%{
        color: black;
    }
    100%{
        color: black;
    }
    }
    #dot3{
    animation-name: dotanim3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    color:black;
    }
    @keyframes dotanim3{
    0%{
        color: transparent;
    }
    33%{
        color: transparent;
    }
    66%{
        color: transparent;
    }
    100%{
        color: black;
    }
  }
  .LoadingText{
    font-family: "Righteous", sans-serif;
    position: relative;
    left: 0%;
    top: 0%;
    font-size: 2em;
}
#LoadingTextContainer{
    background-color: transparent;
    position: absolute;
    left: 53%;
    top: 73%;
    transform: translate(-50% , -50%);
}
}

  @media screen and (max-width: 1100px) {
    #FirstView{
        position: relative;
        height: 100%;
        top: 0%;
        width: 100%;
        left: 0%;
        background-color:white;
        color: black;
    }
    
    #Headerback {
        width: 90%;
        
        background-color: fff;
        position: relative;
        left: 5%;
    }
    #header {
        color: #b9af1d;
        position: relative;
        text-align: center;
        font-size: 4em;
    }
    #LoadingContainer{
        background-color: transparent;
        position: relative;
        left: 15%;
        top: 15%;
        width: 70%;
        height: 30%;
    }
    #NotFoundText {
        background-color: green;
        position: relative;
        left: 15%;
        top: 25%;
        width: 70%;
        height: 17%;
    }
    #Disclaimer {
        position: relative;
        height: 80%;
        top: 0%;
        width: 100%;
        left: 0%;
        background-color: #292929;
        color: black;
    }
    #SocialMedia {
        position: relative;
        height: 10%;
        top: 0%;
        width: 100%;
        left: 0%;
        background-color: #a5a5a5;
        color: black;
    }
    #LoadingCircleContainer{
        width: 110px;
        height: 110px;
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
    }
    #LoadingCircle{
        background-color: transparent;
        height: 70px;
        width: 70px;
        position: relative;
        top: 0%;
        left: 0%;
        border-radius: 100px;
        border-top: 20px solid red;
        border-left: 20px solid green;
        border-bottom: 20px solid blue;
        border-right: 20px solid yellow;
        animation-name: Loader;
        animation-duration: 2s;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes Loader{
    0%{
        border-top: 20px solid red;
        border-bottom: 20px solid green;
        border-left: 20px solid blue;
        border-right: 20px solid yellow;
    }
    25%{
        transform: rotate(90deg);
        border-top: 20px solid blue;
        border-bottom: 20px solid yellow;
        border-left: 20px solid green;
        border-right: 20px solid red;
        }
    50%{
        transform: rotate(180deg);
        border-top: 20px solid green;
        border-bottom: 20px solid red;
        border-left: 20px solid yellow;
        border-right: 20px solid blue;
        }
    75%{
        transform: rotate(270deg);
        border-top: 20px solid yellow;
        border-bottom: 20px solid blue;
        border-left: 20px solid red;
        border-right: 20px solid green;
        }
    100%{
        transform: rotate(360deg);
        border-top: 20px solid red;
        border-bottom: 20px solid green;
        border-left: 20px solid blue;
        border-right: 20px solid yellow;
        }
    }
    #dot1{
        animation-name: dotanim;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-direction: normal;
        color:black;
    }
    @keyframes dotanim{
    0%{
        color: transparent;
    }
    33%{
        color: black;
    }
    66%{
        color: black;
    }
    100%{
        color: black;
    }
    }
    #dot2{
    animation-name: dotanim2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    color:black;
    }
    @keyframes dotanim2{
    0%{
        color: transparent;
    }
    33%{
        color: transparent;
    }
    66%{
        color: black;
    }
    100%{
        color: black;
    }
    }
    #dot3{
    animation-name: dotanim3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    color:black;
    }
    @keyframes dotanim3{
    0%{
        color: transparent;
    }
    33%{
        color: transparent;
    }
    66%{
        color: transparent;
    }
    100%{
        color: black;
    }
  }
  .LoadingText{
    font-family: "Righteous", sans-serif;
    position: relative;
    left: 20%;
    top: 90%;
    font-size: 3em;
    }
    #LoadingTextContainer{
        background-color: transparent;
        position: absolute;
        left: 44%;
        top: 75%;
        transform: translate(-50% , -50%);
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    #FirstView{
        position: relative;
        height: 100%;
        top: 0%;
        width: 100%;
        left: 0%;
        background-color:white;
        color: black;
    }
    
    #Headerback {
        width: 90%;
        
        background-color: #fff;
        position: relative;
        left: 5%;
    }
    #header {
        color:#b9af1d;
        position: relative;
        text-align: center;
        font-size: 3em;
    }
    #LoadingContainer{
        background-color: transparent;
        position: relative;
        left: 10%;
        top: 10%;
        width: 80%;
        height: 25%;
    }
    #NotFoundText {
        background-color: green;
        position: relative;
        left: 10%;
        top: 20%;
        width: 80%;
        height: 17%;
    }
    #Disclaimer {
        position: relative;
        height: 45%;
        top: 0%;
        width: 100%;
        left: 0%;
        background-color: #292929;
        color: black;
    }
    #SocialMedia {
        position: relative;
        height: 10%;
        top: 0%;
        width: 100%;
        left: 0%;
        background-color: #a5a5a5;
        color: black;
    }
    #LoadingCircleContainer{
        width: 80px;
        height: 80px;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
    }
    #LoadingCircle{
        background-color: transparent;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 0%;
        left: 0%;
        border-radius: 65px;
        border-top: 15px solid red;
        border-left: 15px solid green;
        border-bottom: 15px solid blue;
        border-right: 15px solid yellow;
        animation-name: Loader;
        animation-duration: 2s;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes Loader{
    0%{
        border-top: 15px solid red;
        border-bottom: 15px solid green;
        border-left: 15px solid blue;
        border-right: 15px solid yellow;
    }
    25%{
        transform: rotate(90deg);
        border-top: 15px solid blue;
        border-bottom: 15px solid yellow;
        border-left: 15px solid green;
        border-right: 15px solid red;
        }
    50%{
        transform: rotate(180deg);
        border-top: 15px solid green;
        border-bottom: 15px solid red;
        border-left: 15px solid yellow;
        border-right: 15px solid blue;
        }
    75%{
        transform: rotate(270deg);
        border-top: 15px solid yellow;
        border-bottom: 15px solid blue;
        border-left: 15px solid red;
        border-right: 15px solid green;
        }
    100%{
        transform: rotate(360deg);
        border-top: 15px solid red;
        border-bottom: 15px solid green;
        border-left: 15px solid blue;
        border-right: 15px solid yellow;
        }
    }
    #dot1{
        animation-name: dotanim;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-direction: normal;
        color:black;
    }
    @keyframes dotanim{
    0%{
        color: transparent;
    }
    33%{
        color: black;
    }
    66%{
        color: black;
    }
    100%{
        color: black;
    }
    }
    #dot2{
    animation-name: dotanim2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    color:black;
    }
    @keyframes dotanim2{
    0%{
        color: transparent;
    }
    33%{
        color: transparent;
    }
    66%{
        color: black;
    }
    100%{
        color: black;
    }
    }
    #dot3{
    animation-name: dotanim3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    color:black;
    }
    @keyframes dotanim3{
    0%{
        color: transparent;
    }
    33%{
        color: transparent;
    }
    66%{
        color: transparent;
    }
    100%{
        color: black;
    }
  }
  .LoadingText{
    font-family: "Righteous", sans-serif;
    position: relative;
    left: 20%;
    top: 90%;
    font-size: 2em;
    }
    #LoadingTextContainer{
        background-color: transparent;
        position: absolute;
        left: 44%;
        top: 80%;
        transform: translate(-50% , -50%);
    }
}